# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
*.tfvars
*.tfstate*
.terraform/
tf-key.json

# Node
node_modules/
dist/
.angular/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
pgdata/
